* {
    border-radius: 10px;
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
    border: solid 2px #6600cc;
    padding: 25px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

li {
    font-family: 'Roboto Condensed', 'sans-serif';
    margin: 25px;
    background-color: #6600cc;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px 25px;
    opacity: 0.75;
}

h2 {
    font-family: Roboto Condensed;
    margin: 10px 75px;
}

#backli {
	background-color: #ff9900;
}
